<div class="outer-container">
    
    <header>
      <div class="main-header">Sport{{ showAppVersionOnTitle }}</div>
    </header>
  
    <nav id="sport">
      <div class="main-header">
          <ul>
          <li>World Cup 2018<a href="#"></a></li>
          <!-- <li>Cricket<a href="#"></a></li> -->
          <!-- <li>Golf<a href="#"></a></li> -->
          </ul>
      </div>
    </nav>
  
    <nav class="individual-sport" id="football">
        <div class="main-header">
            <ul>
            <li><a routerLink="/group-stage">Group Stage</a></li>
            <li><a routerLink="/knockout-stage">Knockout Stage</a></li>
            <li><a routerLink="/fixtures-latest">Latest Fixtures</a></li>
            <li><a routerLink="/tables">Group Tables</a></li>
            <li><a routerLink="/administration">Administration</a></li>
            </ul>
        </div>
    </nav> 
  
    <router-outlet></router-outlet>
      
    <footer>
      &copy; Martin Anderson 2017
    </footer>
  
</div>